h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

mat-form-field {
  margin-left: 25px;
  margin-top: 15px;
  padding: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload {
  display: none;
}

.file-upload {
  margin: 30px;
}

.submit {
  display: grid;
  margin: auto;
}

.spinner {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
}