<mat-card class="activity-card mat-elevation-z8">
  <mat-card-title (click)="openDetail(activity)">
    {{activity.title}}
  </mat-card-title>
  <mat-card-subtitle>
    {{activity.date | date}}
  </mat-card-subtitle>
  <mat-card-content>
    <div class="type">
      <h2 style="color:rgb(30, 21, 138);">{{activity.type}}</h2>
      <img [src]="activity.typePhoto" matCardImageSmall>
    </div>
    <p>{{activity.location}}</p>
  </mat-card-content>
  <mat-card-actions class="activity-actions">
    <button mat-icon-button color="primary" (click)="editActivity(activity)">
      <mat-icon>build</mat-icon>
    </button> 
    <button mat-icon-button color="warn" (click)="deleteActivity(activity)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

