<div class="vert">
  <h1 class="heading">Activity Types</h1>
  <button mat-raised-button class="newType">New Type</button>
</div>
<div>
  <div *ngFor="let type of activityTypes" class="activity">
    <div class="align">
      <mat-card class="card">
        <img mat-card-sm-image src="../../../assets/toomas-tartes-Yizrl9N_eDA-unsplash.jpg" >
        <mat-card-title class="title">{{type.name}}</mat-card-title>  
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon class="icon" style="color: #8b41ff;">mode_edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon class="icon" style="color: #ff8b41">delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
