<h1 class="heading">About Activity Tracker</h1>
<div class="main-div">
  <div class="showcase">
    <img src="../../../assets/Activity Types2.png" alt="">
    <div>
      <h2>Keep tabs on what you love to do!</h2>
      <p>
        Activity Tracker is a way to journal your most important events.  We do so many interesting things in our lives, but don't often take the time to recall them, 
        or to keep the details fresh in our minds to make the next time we do something even better.  Imagine you have a new hobby, and want to record what you learn 
        each time you do it, so that the next time you'll enjoy it even more.  Activity Tracker gives you a clear, visually stunning way to track your progress as 
        you get better at something you've loved doing for a long time or are now just beginning to love.  Enjoy keeping tabs on your favorite events with activity 
        tracker now!  Just enter as many categories of activities and hobbies you are interested in recording in the Activity Types link above, and then 
        use the home page to track your progress and experiences of events of that type.  We know you'll have a great time journaling your adventures!
      </p>
    </div>
  </div>
</div>
<div class=triptych>
  <div class="detail">
    <mat-icon aria-label="rowing">rowing</mat-icon>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel amet minima eos incidunt, at assumenda officiis dicta rem. Nostrum nam totam reiciendis impedit hic voluptate, earum aspernatur doloremque nulla porro.
    Excepturi molestias aspernatur similique necessitatibus accusamus ratione quod nobis, corrupti maiores qui magnam minima numquam, mollitia eum maxime officiis animi dolor voluptates at! Fugit deserunt temporibus illo modi veniam sit.
  </div>
  <div class="detail">
    <mat-icon aria-label="fishing">theaters</mat-icon>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel amet minima eos incidunt, at assumenda officiis dicta rem. Nostrum nam totam reiciendis impedit hic voluptate, earum aspernatur doloremque nulla porro.
    Excepturi molestias aspernatur similique necessitatibus accusamus ratione quod nobis, corrupti maiores qui magnam minima numquam, mollitia eum maxime officiis animi dolor voluptates at! Fugit deserunt temporibus illo modi veniam sit.
  </div>
  <div class="detail">
    <mat-icon aria-label="sports score">sports_score</mat-icon>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel amet minima eos incidunt, at assumenda officiis dicta rem. Nostrum nam totam reiciendis impedit hic voluptate, earum aspernatur doloremque nulla porro.
    Excepturi molestias aspernatur similique necessitatibus accusamus ratione quod nobis, corrupti maiores qui magnam minima numquam, mollitia eum maxime officiis animi dolor voluptates at! Fugit deserunt temporibus illo modi veniam sit.
  </div>
</div>
