<h1 class="heading">About Activity Tracker</h1>
<div class="main-div">
  <div class="showcase">
    <img src="../../../assets/Activity Types2.png" alt="">  
    <p>
      Activity Tracker is a way to journal the fun events in your life that are important to you.  We do so many interesting things in our
      lives, but don't often take the time to recall them, or provide tips to make these events more enjoyable.
      Imagine you have a new hobby, and want to record what you've learned each time you do it, especially if there has been
      a significant break in the time you last did it.  For example, let's say you just took up mountain biking, and want to keep
      tabs on where you went, what your tire pressure was, what gear would have made the event more enjoyable, etc.  Activity Tracker
      gives you a clear, visually stunning way to tracker your progress as you move from beginner to intermediate to expert at something
      you've loved for a long time, or are just now learning to live.  Enjoy keeping tabs on your favorite events with activity tracker now!
      Just enter the types of activities and hobbies you are interested in recording in the Activity Types link above, and use the home page to 
      track your specific events of that type.  We hope you have a great time journaling your adventures!
    </p>
  </div>
</div>
