<h1 class="heading">About Activity Tracker</h1>
<div class="main-div">
  <div class="showcase">
    <img src="../../../assets/Activity Types2.png" alt="">  
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae iusto alias repellat error tempora porro sint, ab maxime nihil officiis enim voluptatem nobis nam sunt labore quidem cum, eligendi explicabo.
      Nobis tempora iusto architecto atque quam ipsa saepe reprehenderit illo tenetur odit perferendis quo, quisquam doloremque tempore natus quos quaerat excepturi esse dolore dolor odio. Laborum dolores vitae pariatur minima.
      Exercitationem nam iste laboriosam optio quidem consequatur, doloremque temporibus enim, ea quo recusandae voluptatem quas rerum aut ipsam possimus. Tenetur architecto, mollitia quo laudantium ipsum natus dignissimos exercitationem nesciunt. Quia!
      Recusandae eius, non ex laborum, beatae tempore cum at sed aliquid dolorem assumenda sint eos suscipit neque aut iste autem corrupti tempora ullam. Tenetur sequi dicta doloremque at et non.
      Exercitationem quasi perspiciatis fugiat adipisci consequuntur voluptate? Aut quas totam ullam reiciendis velit. Perferendis quos expedita, suscipit sed velit sapiente officiis asperiores quo, eos nobis doloribus ex accusamus. Deserunt, qui.
    </p>
  </div>
</div>
