h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload {
  display: none;
}

.file-upload {
  margin: 30px;
}

.spinner {
  display: flex;
  flex-direction: column;
  margin-left: 35%;
}