footer {
  width: 100%;
  margin-top: 8%;
  bottom: 0;
}

.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;
}

.footer-top {
  background-color: #f0f0f0 ;
}

.icons {
  display: flex;
  justify-content: space-around;
}

mat-icon, fa-icon {
  margin-right: 10px;
}

.footer-bottom  {
  background-color: rgba(178, 168, 168, 0.408);
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  text-align: center;
}