<footer>
  <div class="footer-top">
    <mat-grid-list cols="4" rowHeight="230px" >
      <mat-grid-tile >
        <div class="company-info" style="margin-left: 15%;">
          <h2 style="margin-top: 10px;">DG Enterprise Applications</h2>
          <p>Quality application development from experienced professionals.</p>
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <div class="company-info">
          <h2>Services</h2>
          <p>Web Application Development</p>
          <p>Software Consulting</p>
          <p>Automated Testing</p>
          <p>Dev Ops</p>
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <div class="company-info">
          <h2>Browse</h2>
          <p>Home</p>
          <p>About</p>
          <p>Projects</p>
          <p>Contact</p>    
        </div>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <div class="company-info">
          <h2>Contact</h2>
          <div class="icons" id="contact">
            <a href="https://github.com/dogray7722" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faGithub" style="font-size: 20px;"></fa-icon>
            </a>
            <p>GitHub</p>
          </div>
          <div class="icons">
            <a href="https://www.linkedin.com/in/david-gray-5313a433/" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faLinkedin" style="font-size: 20px;"></fa-icon>
            </a> 
            <p>LinkedIn</p>
          </div>
          <div class="icons">
            <a href="https://twitter.com/dgenterpriseapp" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faTwitter" style="font-size: 20px;"></fa-icon>
            </a>
            <p>Twitter</p>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="footer-bottom">
      <p>Copyright &copy; 2022 DG Enterprise Applications</p>
      <p>Privacy Policy</p>
    </div>
  </div>
</footer>

