footer {
  position: relative;
  margin-top: -260px;
  clear: both;
}

.company-info {
  display: flex;
  flex-direction: column;
}

.footer-top {
  background-color: rgb(240, 240, 240) ;
}

.icons {
  display: flex;
  gap: 10px;
}

.footer-bottom  {
  background-color: rgba(178, 168, 168, 0.408);
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

a, a:visited {
  color: inherit;
}

a:hover, a:active {
  color: #673ab6;
}