.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center; 
  margin-top: 50px; 
  font-size: 50px; 
  color: rgb(103,58,183);
}

form {
  margin-bottom: 50px;
}

.activity-details-form {
  margin-top: 50px;
  justify-content: center;
}

mat-card {
  width: 600px;
  text-align: center;
  background-color: hsl(40, 60%, 98%);
  border-radius: 8px;
}

mat-form-field {
  width:400px;
}

.form-field {
  flex-direction: column;
  align-items: center;
}







