<div class="container">
  <h1 class="heading">Add A New Event</h1>
  <div class="main">
    <form [formGroup]="activityForm" class="activity-details-form">
      <mat-stepper class="form-field" orientation="vertical" linear="true" #stepper>
        <mat-step>
          <ng-template matStepLabel>Event Type</ng-template>
          <ng-template matStepContent>
            <div>
              <p>New activities can be created by clicking the Activities link in the navigation bar.</p>
              <mat-form-field style="margin-top: 20px;">
                <mat-select formControlName="type" placeholder="select event type">
                  <mat-option *ngFor="let type of activityTypes" [value]="type.name">{{type.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Title</ng-template>
          <ng-template matStepContent>
            <div>
              <mat-form-field>
                <input matInput formControlName="title" placeholder="event title">
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Location Details</ng-template>
          <ng-template matStepContent>
            <div>
              <mat-form-field>
                <input matInput formControlName="location" placeholder="location">
              </mat-form-field>
            </div>
            <div class="buttons">
              <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Date</ng-template>
          <ng-template matStepContent>
            <div>
              <mat-form-field>
                <mat-datepicker #datePicker></mat-datepicker>
                <input 
                matInput 
                formControlName="date" 
                placeholder="event date"
                [matDatepicker]="datePicker"
                >
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              </mat-form-field>
            </div>
            <div class="buttons">
              <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </ng-template>    
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Activity Notes</ng-template>
          <ng-template matStepContent>
            <div>
              <mat-form-field>
                <textarea 
                matInput 
                placeholder="add notes" 
                formControlName="notes"
                cdkTextareaAutosize></textarea>
              </mat-form-field>
            </div>
            <div class="buttons">
              <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              <button mat-raised-button color="basic" (click)="activityForm.reset(); stepper.reset();">Reset</button>
              <button 
              mat-raised-button color="primary" 
              [disabled]="activityForm.invalid" 
              (click)="onSubmit()">Create</button>
            </div>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>