<h1 class="heading">Add A New Event</h1>
<div class="main">
  <form [formGroup]="activityForm" class="activity-details-form">
      <mat-stepper class="form-field" orientation="vertical" linear="true">
        <mat-step>
          <ng-template matStepLabel>Activity Details</ng-template>
          <ng-template matStepContent>
            <div>
              <mat-form-field style="margin-top: 20px;">
                <mat-select formControlName="type" placeholder="Select activity type">
                  <mat-option *ngFor="let type of activityTypes" [value]="type.name">{{type.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput formControlName="title" placeholder="Activity Title">
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Location Details</ng-template>
          <ng-template matStepContent>
            <div>
              <mat-form-field>
                <input matInput formControlName="location" placeholder="Activity Location">
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Date</ng-template>
          <ng-template matStepContent>
            <div>
              <mat-form-field>
                <mat-datepicker #datePicker></mat-datepicker>
                <input 
                matInput 
                formControlName="date" 
                placeholder="Event date"
                [matDatepicker]="datePicker"
                >
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button color="accent" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </ng-template>    
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Activity Notes</ng-template>
          <ng-template matStepContent>
            <div>
              <mat-form-field>
                <textarea 
                matInput 
                placeholder="Add Notes" 
                formControlName="notes"
                cdkTextareaAutosize></textarea>
              </mat-form-field>
            </div>
            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" [disabled]="activityForm.invalid" (click)="onSubmit()">Submit</button>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </form>
</div>