<h1 class="heading">Add A New Outdoor Event</h1>
<div [formGroup]="form" class="activity-details-form" (ngSubmit)="onSubmit()">
  <mat-card class="mat-elevation-z8">
    <mat-card-title style="color:rgb(15, 15, 15);" >New Activity</mat-card-title> 
    <mat-card-content class="form-field">
      <mat-form-field style="margin-top: 20px;">
        <mat-select formControlName="type" placeholder="Select activity type">
          <mat-option>None</mat-option>
          <mat-option value="fishing">Fishing</mat-option>
          <mat-option value="hiking">Hiking</mat-option>
          <mat-option value="mountain biking">Mountain Biking</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Location" formControlName="location">
      </mat-form-field>
      <mat-form-field>
        <mat-datepicker #datePicker></mat-datepicker>
        <input 
          matInput 
          formControlName="date" 
          placeholder="Event date"
          [matDatepicker]="datePicker"
        >
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      </mat-form-field>
      <mat-form-field>
        <textarea 
          matInput 
          placeholder="Add Notes" 
          formControlName="notes"
          cdkTextareaAutosize></textarea>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-actions>
    </mat-card-content> 
  </mat-card>
</div>
  

