<mat-toolbar color="accent">
  <a routerLink="/" mat-button *ngIf="!isLoggedIn">
    <mat-icon>account_circle</mat-icon>
    Login
  </a>

  <a routerLink="/" mat-button *ngIf="isLoggedIn">
    <mat-icon>account_box</mat-icon>
    Logout
  </a>  
  
  <a routerLink="/events" mat-button>
    <mat-icon>home</mat-icon>
    Home
  </a>  
  
  <a routerLink="/create" mat-button>
    <mat-icon>add</mat-icon>
    Add
  </a>
  
  <a mat-button>
    <mat-icon>question_answer</mat-icon>
    About
  </a>

  <a routerLink="/types" mat-button>
    <mat-icon>directions_bike</mat-icon>
    Activities
  </a>

</mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
