
<h1 class="heading">Log In / Register</h1>
<div class="registration-form">
  <mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="Log In">
      <div class="login mat-elevation-z4">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
          <mat-form-field appearance="fill">
            <input matInput placeholder="username" formControlName="username">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput placeholder="password" formControlName="password">
          </mat-form-field>
          <div class="submit">
            <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Register">
      <div class="register mat-elevation-z4" >
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
          <mat-form-field appearance="fill">
            <input matInput placeholder="username" formControlName="username">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput placeholder="email" formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput placeholder="password" formControlName="password">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput placeholder="confirm password" formControlName="confirmation">
          </mat-form-field>
          <div class="submit">
            <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Submit</button>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

