<div>

  <mat-card class="mat-elevation-z10">
    <div class="header">
      <mat-card-title>
        {{activity.title}}
      </mat-card-title>
      <h3>{{activity.date}}</h3>
    </div>
    <mat-card-content>
      <div class="content">
        <img [src]="activity.typePhoto" matCardImageMedium>
        <h3>{{activity.type}}</h3>
      </div>
      <div class="details">
        <h2>{{activity.location}}</h2>
        <p>{{activity.notes}}</p>
      </div>
      <!-- todo: add ngIf div here when activity file uploader is complete -->
    </mat-card-content>
    <mat-card-actions class="activity-detail-actions">
      <div>
        <button mat-icon-button color="primary" (click)="return()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span style="text-align: center;">Back</span>
      </div>
      <div>
        <button mat-icon-button color="primary" (click)="editActivity(activity)">
          <mat-icon>build</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteActivity(activity)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
  