<div>

  <mat-card class="mat-elevation-z10">
    <div class="header">
      <mat-card-title>
        {{activity.title}}
      </mat-card-title>
      <h3>{{activity.date}}</h3>
    </div>
    <mat-card-content>
      <div class="content">
        <img [src]="activity.typePhoto" matCardImageMedium>
        <h2>{{activity.type}}</h2>
      </div>
      <div class="details">
        <h2>{{activity.location}}</h2>
        <p>{{activity.notes}}</p>
      </div>
      <!-- todo: add ngIf div here when activity file uploader is complete -->
    </mat-card-content>
    <mat-card-actions class="activity-detail-actions">
      <button mat-icon-button style="color:rgb(30, 21, 138)" (click)="editActivity(activity)">
        <mat-icon>build</mat-icon>
      </button>
      <button mat-icon-button style="color:red" (click)="deleteActivity(activity)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
  