.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin: 10% 20%;
  width: auto;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

mat-card-title {
  font-size: 30px;
}

mat-card-content {
  display: flex;
}

.details {
  margin-left: 15px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-icon:hover {
  color: #ffd63f;
}