.heading {
  text-align: center; 
  margin-top: 50px; 
  font-size: 50px; 
  color: rgb(103,58,183);
}

.spinner-container {
  height: 500px;
  width: 500px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.registration-form {
  margin-top: 50px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.login, .register {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 30px;
  border-radius: 8px;
  background-color: hsl(40, 60%, 98%);
}

mat-form-field {
  width: 300px;
}

.login {
  height: 200px;
  width: 300px;
}

.register {
  height: 300px;
  width: 300px;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}