<div>
  <div mat-dialog-actions align="end">
    <mat-icon style="cursor: pointer;" (click)="close()">close</mat-icon>
  </div>
  <h1 mat-dialog-title>Edit Activity</h1> 
  <mat-dialog-content [formGroup]="form">
    <mat-form-field [style.width.px]=300>
      <mat-select formControlName="type"  placeholder="Select activity type">
        <mat-option *ngFor="let actType of activityTypes" [value]="actType.name">{{actType.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field [style.width.px]=300>
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-form-field [style.width.px]=300>
      <input matInput placeholder="Location" formControlName="location">
    </mat-form-field>
    <mat-form-field [style.width.px]=300>
      <mat-datepicker #datePicker></mat-datepicker>
      <input 
      matInput 
      formControlName="date" 
      placeholder="Event date"
      [matDatepicker]="datePicker"
      >
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-form-field [style.width.px]=300>
      <textarea 
        matInput 
        placeholder="Add Notes" 
        formControlName="notes"
        cdkTextareaAutosize>
      </textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="submit" (click)="save()" mat-raised-button color="primary">Submit</button>
  </mat-dialog-actions>  
</div>
