.vert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center; 
  margin-top: 50px; 
  font-size: 50px; 
  color: rgb(103,58,183);
}

.newType {
  background-color: #4169ff; 
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 20px;
}

.activity {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.align {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  margin: 15px;
  align-items: center;
  gap: 12px;
}

.title {
  margin-top: 6px;
  margin-left: 12px;
}

.icon {
  margin-top: -17px;
}

mat-icon:active, mat-icon:hover {
  color: #ffd741;
}

.last {
  margin-bottom: 50px;
}
